h1 Signup

form(action="/signup", method="post")
    label(for="username") Email
    input#username(type="email", name="email")
    label(for="password") Password
    input#password(type="text", name="password")
    label(for="name") Name
    input#name(type="text", name="name")
    input(type="submit", value="Login")